.hide-list {
    display: none;
    //visibility: hidden;
}
.list-container {
    max-width: 60rem;
}
.buttons-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
}

.plugin-page-container {
    .child-container {
        display: inline-table;
        margin-right: 4rem;
        width: 28rem;
    }
}
@media (max-width: 460px) {
    .plugin-page-container {
        .child-container {
            display: inline-table;
            margin-right: 4rem;
            width: 100%;
        }
    }
}
